.recipe {
  border-radius: 10px;
  box-shadow: 0px 5px 20px gray;
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  background: white;
  align-items: center;
  width: 40%;
  margin-left: 30%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.image {
  border-radius: 50%;
  height: 100px;
  width: 100px;
}
